<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="sobre-suri" />
    <title>Sobre suri</title>
    <link rel="stylesheet" href="/css/styles.css" />
  </head>
  <body>
    <header>
      <nav><a href="/">Ir al inicio</a></nav>
    </header>
    <section>
      <h1>Sobre suri</h1>
      <p>
        Suri es una niña de 6 años que vive en Villa Maria. Nacio en Cordoba
        Capital en julio del 2018
      </p>
    </section>
  </body>
</html>
