 /* bricolage-grotesque-latin-wght-normal */
 @import url('https://cdn.jsdelivr.net/npm/@fontsource-variable/outfit@latest/index.css');

 :root {
     font-family: 'Outfit Variable', sans-serif;
     --colorlight: #333;
     --colorlight2: #333333a8;
     --colordark: #f5f5f5;
     --colorverde: #3cc972d5;
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     position: relative;
     margin: 0;
     padding: 0;
     background: #FFA17F;
     /* fallback for old browsers */
     background: -webkit-linear-gradient(to top, #00223E, #FFA17F);
     /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to top, #00223E 35%, #FFA17F);
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

     font-family: 'Outfit Variable', sans-serif;


     header {
         width: 50vw;
         margin: 3rem auto;
         background-image: url('/img/bg.webp');
         background-size: cover;
         background-position: center;

         border: 2px solid #333;
         border-radius: 3rem;

         nav {
             padding: 1rem 0;
             display: flex;
             align-items: center;
             justify-content: space-evenly;


             a {
                 color: #fff;
                 text-decoration: none;
                 font-size: 1.25rem;

                 &:hover {
                     text-decoration: underline;
                     text-shadow: 0 0 5px #de7593, 0 0 10px #de7593;
                 }
             }
         }
     }

     .inicio {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 2rem;
         margin-bottom: 5rem;
         /* justify-content: space-between; */


         h1 {
             width: 80vw;
             color: var(--colorlight);
             text-align: center;
             margin: 2rem auto;
             font-size: 6rem;
             text-wrap: wrap;
             font-weight: 800;

             span {
                 color: #ccc;
                 text-shadow: 0 0 5px #de7593, 0 0 10px #de7593;
             }
         }



         .info-inicio {

             width: 70vw;
             display: flex;
             justify-content: space-evenly;
             align-items: start;
             gap: 1rem;

             .texto {
                 display: flex;
                 flex-direction: column;
                 gap: 2rem;

                 h2 {
                     color: var(--colorlight);
                     font-size: 1.5rem;
                 }

                 p {
                     color: var(--colorlight2);
                     font-size: 1.2rem;
                 }
             }



             .botones {
                 display: flex;
                 width: 100%;
                 gap: 1rem;

                 .btn-pedir {
                     padding: 10px 20px;
                     border: none;
                     border-radius: 5rem;
                     cursor: pointer;
                     font-size: 1.2rem;
                     font-weight: 700;
                     background-color: #de7593;
                     color: #fff;
                     text-decoration: none;

                     &:hover {
                         text-decoration: underline;
                     }
                 }
             }

             img {
                 border-radius: 50%;
                 width: 40vw;
                 height: 50vh;
                 object-fit: cover;
                 box-shadow: 0 0 10px #ccc, 0 0 20px #de7593;
             }
         }

     }

     .sorteo {

         h2 {
             color: var(--colorlight);
             text-align: center;
             font-size: 4.5rem;
             margin-bottom: 20px;
         }


         padding: 3rem;


         .info {
             color: var(--colordark);
             text-align: center;
             font-size: 1.5rem;
             margin-bottom: 20px;

             .color-verde {
                 display: inline-block;
                 width: 20px;
                 height: 20px;
                 background-color: var(--colorverde);
                 border-radius: 50%;
             }
         }


         .numeros {

             display: flex;
             flex-wrap: wrap;
             justify-content: center;
             gap: 1rem;
             margin-bottom: 0.75rem;



             button {
                 padding: 8px auto;
                 width: 40px;
                 height: 40px;
                 border: none;
                 border-radius: 5px;
                 cursor: pointer;
                 font-size: 1.2rem;
                 font-weight: 900;
                 text-align: center;

                 &.disponible {
                     background-color: var(--colorverde);
                     color: #222;
                 }

                 &.tachado {
                     cursor: not-allowed;
                     opacity: 0.5;
                     /* Desactiva eventos de puntero */
                     text-decoration: line-through;
                     background-color: #de7593;
                     color: #fff;
                 }

                 &.elegido {
                     background-color: rgb(9, 106, 218);
                     outline: var(--colorverde) 2px solid;
                     color: #fff;
                 }
             }
         }
     }

     .premios {

         h2 {
             color: var(--colordark);
             text-align: center;
             font-size: 4.5rem;
             margin-bottom: 20px;
         }

         ol {
             color: var(--colordark);
             text-align: start;
             font-size: 1.5rem;

             background-color: #cccccc8e;

             padding: 2rem 0 2rem 5rem;
             border-radius: 10px;
             box-shadow: 0 0 10px #ccc;
             width: 60vw;
             margin: 0 auto;
             margin-bottom: 20px;

             li {
                 margin-bottom: 10px;

                 a {
                     text-decoration: underline;
                     color: #aaa6a6;

                     &:hover {
                         color: #ccc;
                         text-shadow: 0 0 5px #aaa6a6, 0 0 10px #aaa6a6;
                     }

                 }
             }
         }
     }

     .send-button {
         position: fixed;
         top: 10px;
         right: 10px;
         background-color: #25d366;
         /* Color verde de WhatsApp */
         color: white;
         padding: 10px 20px;
         border: none;
         border-radius: 5px;
         cursor: pointer;
         text-decoration: none;
         display: none;
         /* Ocultar inicialmente */
     }

     footer {
         text-align: center;
         color: var(--colordark);
         padding: 2rem;
         margin: 2rem;
         font-size: 1.2rem;
     }
 }

 .tooltip {
     position: absolute;
     background: #333;
     color: #fff;
     padding: 5px;
     border-radius: 4px;
     font-size: 12px;
     white-space: nowrap;
     z-index: 1000;
 }

 .details-popup {
     position: absolute;
     width: 150px;
     height: auto;
     background: #fff;
     border: 1px solid #ccc;
     padding: 20px;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
     z-index: 1000;
     display: none;
     /* Oculta el popup por defecto */
 }

 .login {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh;

     form {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 0.25rem;
         width: 60vw;
         background-color: #333;
         padding: 2rem;
         border-radius: 0.5rem;
         box-shadow: 0 0 10px #333;

         input {
             padding: 0.5rem;
             border-radius: 0.25rem;
             border: 1px solid #ccc;
             width: 100%;
         }

         label {
             font-weight: bold;
             margin-bottom: 0.25rem;
             color: #ccc;
             font-size: x-large;
         }

         button {
             padding: 0.5rem;
             border-radius: 0.25rem;
             border: 1px solid #ccc;
             width: 100%;
             font-size: large;
             font-weight: bold;
             cursor: pointer;
             background-color: #de7593;
             color: #fff;

             &:hover {
                 background-color: #fff;
                 color: #de7593;
             }
         }
     }
 }

 .admin-dashboard {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh;

     form {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 0.25rem;
         width: 60vw;
         background-color: #333;
         padding: 2rem;
         border-radius: 0.5rem;
         box-shadow: 0 0 10px #333;

         input {
             padding: 0.5rem;
             border-radius: 0.25rem;
             border: 1px solid #ccc;
             width: 100%;
         }

         label {
             font-weight: bold;
             margin-bottom: 0.25rem;
             color: #ccc;
             font-size: x-large;

         }

         button {
             padding: 0.5rem;
             border-radius: 0.25rem;
             border: 1px solid #ccc;
             width: 100%;
             font-size: large;
             font-weight: bold;
             cursor: pointer;
             background-color: #de7593;
             color: #fff;

             &:hover {
                 background-color: #fff;
                 color: #de7593;
             }
         }

         #label-nombre {
             position: relative;
             width: 100%;
             /* Contenedor para el input y el menú de autocompletado */
         }

         .autocomplete-results {
             border-radius: 4px;
             max-height: 150px;
             position: absolute;
             /* Posicionar respecto a #label-nombre */
             top: 100%;
             /* Justo debajo del input */
             left: 0;
             /* Alineado horizontalmente con el input */
             overflow-y: auto;
             background-color: #fff;
             z-index: 1000;
             width: 100%;
             /* Ajusta el ancho según sea necesario */
             box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
             /* Opcional: Agrega una sombra para mejorar la visibilidad */
         }

         .autocomplete-item {
             padding: 8px;
             cursor: pointer;
         }

         .autocomplete-item:hover {
             background-color: #f0f0f0;
         }
     }
 }

 @media screen and (max-width: 768px) {
     body {
         header {
             width: 80vw;
             margin: 1rem auto;

             nav {
                 a {
                     font-size: 1rem;
                 }
             }
         }

         .inicio {

             align-items: center;

             h1 {
                 font-size: 3rem;
             }

             .info-inicio {
                 flex-direction: column-reverse;
                 justify-content: center;
                 align-items: center;


                 .texto {

                     justify-content: center;
                     align-items: center;
                     text-align: justify;
                     gap: 1rem;
                 }

                 .botones {

                     width: 90vw;
                     align-items: flex-start;
                     justify-content: center;
                     flex-wrap: wrap;

                 }

                 img {
                     text-align: center;
                     width: 80vw;
                     height: 60vh;
                 }
             }


         }
     }

 }