 /* bricolage-grotesque-latin-wght-normal */
 @import url('https://cdn.jsdelivr.net/npm/@fontsource-variable/outfit@latest/index.css');

 :root {
     font-family: 'Outfit Variable', sans-serif;
     --colorlight: #333;
     --colorlight2: #333333a8;
     --colordark: #f5f5f5;
     --colorverde: #3cc972d5;
     --colorbtn2: #6B5B95;
     --colorbtn: #2c2c2c;
     --colornav: #F7EEDD;
     --title-celu: 2.5rem;
 }

 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 body {
     position: relative;
     margin: 0;
     padding: 0;
     background: #FFA17F;
     /* fallback for old browsers */
     background: -webkit-linear-gradient(to top, #00223E, #FFA17F);
     /* Chrome 10-25, Safari 5.1-6 */
     background: linear-gradient(to top, #00223E 35%, #FFA17F);
     /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

     font-family: 'Outfit Variable', sans-serif;


     header {
         width: 50vw;
         margin: 3rem auto;
         background-color: var(--colornav);
         border: 2px solid #333;
         border-radius: 3rem;

         nav {
             padding: 1rem 0;
             display: flex;
             align-items: center;
             justify-content: space-evenly;


             a {
                 color: #2c2c2c;
                 text-decoration: none;
                 font-size: 1.25rem;

                 &:hover {
                     text-decoration: underline;
                     text-shadow: 0 0 5px #de7593, 0 0 10px #de7593;
                 }
             }
         }
     }

     .inicio {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 2rem;
         margin-bottom: 5rem;
         /* justify-content: space-between; */

         .info-inicio {
             margin-top: 5rem;
             width: 90vw;
             height: 80vh;
             display: flex;
             justify-content: space-evenly;
             align-items: start;
             gap: 1rem;

             .texto {
                 height: 100%;
                 display: flex;

                 flex-direction: column;
                 justify-content: space-evenly;
                 gap: 3rem;

                 h2 {
                     color: var(--colordark);
                     font-size: 5rem;
                 }

                 p {
                     color: var(--colordark);
                     font-size: 1.5rem;
                 }
             }




             .botones {
                 position: relative;
                 display: flex;
                 width: 100%;
                 gap: 1rem;

                 .btn-pedir {
                     width: 190px;
                     display: flex;
                     align-items: center;
                     justify-content: space-between;
                     padding: 10px 20px;
                     border: none;
                     border-radius: 5rem;
                     cursor: pointer;
                     font-size: 1.2rem;
                     font-weight: 700;
                     background-color: var(--colorbtn);
                     color: #fff;
                     text-decoration: none;

                     &:hover {
                         opacity: 0.8;

                         svg {
                             animation: move-icon 0.5s ease-in-out infinite;
                         }
                     }
                 }
             }

             .share-options {
                 position: absolute;
                 top: 0;
                 left: 50%;
                 width: 30%;
                 height: 100%;
                 transform: translateY(-110%) translateX(0);
                 padding: 0 2rem;
                 background-color: #333;
                 display: flex;
                 align-items: center;
                 justify-content: space-evenly;
                 gap: 1rem;
                 border-radius: 0.5rem;
                 transition: all 0.5s ease-in-out;

                 &:hover {
                     opacity: 1;
                     visibility: visible;
                 }

                 &.hidden {
                     opacity: 0;
                     visibility: hidden;
                 }


             }


             img {
                 border-radius: 50%;
                 width: 50vw;
                 height: 70vh;
                 object-fit: cover;
                 box-shadow: 0 0 10px #ccc, 0 0 20px #de7593;
             }
         }

     }

     .sorteo {
         padding: 3rem;

         h2 {
             color: var(--colordark);
             text-align: center;
             font-size: 4.5rem;
             margin-bottom: 20px;
         }

         .info {
             color: var(--colordark);
             text-align: center;
             font-size: 1.5rem;
             margin-bottom: 20px;
             position: relative;

             .color-verde {
                 display: inline-block;
                 width: 20px;
                 height: 20px;
                 background-color: var(--colorverde);
                 border-radius: 50%;
             }

             .link {
                 color: #FF7F50;
                 text-decoration: none;
                 transition: all 0.5s ease-in-out;
                 position: relative;
                 /* Para que el SVG pueda posicionarse de forma absoluta dentro del enlace */

                 svg {
                     opacity: 0;
                     /* SVG invisible por defecto */
                     visibility: hidden;
                     /* SVG no ocupa espacio en el flujo del documento */
                     transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out, transform 0.5s ease-in-out;
                     /* Transición suave para escala y rotación */
                     transform: scale(0.8) rotate(0deg);
                     /* Tamaño y rotación inicial del SVG */
                     position: absolute;
                     top: 50%;
                     left: 130%;
                     transform: translate(-50%, -50%) scale(0.8) rotate(0deg);
                     /* Añadir translate, scale y rotate */
                 }

                 &:hover {
                     opacity: 0.8;
                     text-decoration: underline;

                     svg {
                         opacity: 1;
                         /* SVG visible */
                         visibility: visible;
                         /* SVG ocupa espacio en el flujo del documento */
                         transform: translate(-50%, -50%) scale(1.2) rotate(360deg);
                         /* Escala y rotación en hover */
                     }
                 }
             }
         }


         .numeros {

             display: flex;
             flex-wrap: wrap;
             justify-content: center;
             gap: 1rem;
             margin-bottom: 0.75rem;



             button {
                 padding: 8px auto;
                 width: 40px;
                 height: 40px;
                 border: none;
                 border-radius: 5px;
                 cursor: pointer;
                 font-size: 1.2rem;
                 font-weight: 900;
                 text-align: center;

                 &.disponible {
                     background-color: var(--colorverde);
                     color: #222;
                 }

                 &.tachado {
                     cursor: not-allowed;
                     opacity: 0.5;
                     /* Desactiva eventos de puntero */
                     text-decoration: line-through;
                     background-color: #de7593;
                     color: #fff;
                 }

                 &.elegido {
                     background-color: rgb(9, 106, 218);
                     outline: var(--colorverde) 2px solid;
                     color: #fff;
                 }
             }
         }
     }

     .premios {

         margin-bottom: 5rem;

         h2 {
             color: var(--colordark);
             text-align: center;
             font-size: 4.5rem;
             margin-bottom: 5rem;
         }

         .premios-list {

             display: flex;
             flex-wrap: wrap;
             justify-content: center;
             gap: 2rem;

             margin-bottom: 1.25rem;

             .premios-card {
                 min-width: 400px;
                 display: flex;
                 flex-wrap: wrap;
                 flex-direction: column;
                 align-items: center;
                 justify-content: center;
                 gap: 0.75rem;
                 background-color: #dd6236;
                 padding: 2rem;
                 border-radius: 0.5rem;
                 box-shadow: 2px 2px 5px #cccccc79;

                 p {
                     color: #8f1e00;
                     font-size: 1.5rem;

                     a {
                         text-decoration: none;
                         color: #c4bcab;

                         &:hover {
                             opacity: 0.8;
                             text-decoration: underline;
                         }
                     }
                 }

                 &:hover {
                     box-shadow: 0 0 10px #ccc;
                 }
             }
         }
     }

     .ganadores {

         margin-bottom: 5rem;

         h2 {

             color: var(--colordark);
             text-align: center;
             font-size: 4.5rem;
             margin-bottom: 5rem;
         }

         table {
             width: 50vw;
             margin: 2rem auto;
             font-size: 2rem;
             background-color: #3333333f;
             border-radius: 0.5rem;
             box-shadow: 0 0 10px #333;

             tr {

                 &.impar {
                     width: 100%;
                     background-color: #ccc;

                     td {

                         color: #00223E;
                         outline: 1px solid #ccc;

                     }
                 }


                 td {

                     color: var(--colordark);
                     padding: 0.5rem;
                     text-align: center;




                 }
             }
         }

     }

     .contacto {
         margin-bottom: 5rem;

         h2 {

             color: var(--colordark);
             text-align: center;
             font-size: 4.5rem;
             margin-bottom: 5rem;
         }

         table {
             width: 50vw;
             margin: 2rem auto;
             font-size: 2rem;

             th,
             td {
                 color: var(--colordark);
                 padding: 0.5rem;
                 text-align: center;

                 &.copiar-al-portapapeles {
                     cursor: pointer;

                     svg {
                         opacity: 0;
                     }

                     &:hover {
                         opacity: 0.8;

                         svg {
                             opacity: 1;
                         }
                     }
                 }
             }
         }
     }

     .send-button {
         position: fixed;
         top: 10px;
         right: 10px;
         background-color: #25d366;
         /* Color verde de WhatsApp */
         color: white;
         padding: 10px 20px;
         border: none;
         border-radius: 5px;
         cursor: pointer;
         text-decoration: none;
         display: none;
         /* Ocultar inicialmente */
     }

     .copiado-popup {
         position: fixed;
         top: 10vh;
         left: 50vw;
         transform: translateX(-50%);
         width: 30vw;
         height: 10vh;
         color: #ccc;
         font-size: 1.5rem;

         align-items: center;
         justify-content: center;

         border-radius: 5px;
         box-shadow: 0 0 10px #ccc;

         background-color: var(--colorbtn);
         display: none;
         /* Ocultar inicialmente */
     }

     footer {
         text-align: center;
         color: var(--colornav);
         padding: 2rem;
         margin: 2rem;
         font-size: 1.5rem;
     }
 }

 .tooltip {
     position: absolute;
     background: #333;
     color: #fff;
     padding: 5px;
     border-radius: 4px;
     font-size: 12px;
     white-space: nowrap;
     z-index: 1000;
 }

 .details-popup {
     position: absolute;
     width: 150px;
     height: auto;
     background: #fff;
     border: 1px solid #ccc;
     padding: 20px;
     box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
     z-index: 1000;
     display: none;
     /* Oculta el popup por defecto */
 }

 .login {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh;

     form {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 0.25rem;
         width: 60vw;
         background-color: #333;
         padding: 2rem;
         border-radius: 0.5rem;
         box-shadow: 0 0 10px #333;

         input {
             padding: 0.5rem;
             border-radius: 0.25rem;
             border: 1px solid #ccc;
             width: 100%;
         }

         label {
             font-weight: bold;
             margin-bottom: 0.25rem;
             color: #ccc;
             font-size: x-large;
         }

         button {
             padding: 0.5rem;
             border-radius: 0.25rem;
             border: 1px solid #ccc;
             width: 100%;
             font-size: large;
             font-weight: bold;
             cursor: pointer;
             background-color: #de7593;
             color: #fff;

             &:hover {
                 background-color: #fff;
                 color: #de7593;
             }
         }
     }
 }

 .admin-dashboard {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
     height: 100vh;

     form {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         gap: 0.25rem;
         width: 60vw;
         background-color: #333;
         padding: 2rem;
         border-radius: 0.5rem;
         box-shadow: 0 0 10px #333;

         input {
             padding: 0.5rem;
             border-radius: 0.25rem;
             border: 1px solid #ccc;
             width: 100%;
         }

         label {
             font-weight: bold;
             margin-bottom: 0.25rem;
             color: #ccc;
             font-size: x-large;

         }

         button {
             padding: 0.5rem;
             border-radius: 0.25rem;
             border: 1px solid #ccc;
             width: 100%;
             font-size: large;
             font-weight: bold;
             cursor: pointer;
             background-color: #de7593;
             color: #fff;

             &:hover {
                 background-color: #fff;
                 color: #de7593;
             }
         }

         #label-nombre {
             position: relative;
             width: 100%;
             /* Contenedor para el input y el menú de autocompletado */
         }

         .autocomplete-results {
             border-radius: 4px;
             max-height: 150px;
             position: absolute;
             /* Posicionar respecto a #label-nombre */
             top: 100%;
             /* Justo debajo del input */
             left: 0;
             /* Alineado horizontalmente con el input */
             overflow-y: auto;
             background-color: #fff;
             z-index: 1000;
             width: 100%;
             /* Ajusta el ancho según sea necesario */
             box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
             /* Opcional: Agrega una sombra para mejorar la visibilidad */
         }

         .autocomplete-item {
             padding: 8px;
             cursor: pointer;
         }

         .autocomplete-item:hover {
             background-color: #f0f0f0;
         }
     }
 }

 @keyframes move-icon {
     0% {
         transform: translateX(0);
     }

     50% {
         transform: translateX(5px);
     }

     100% {
         transform: translateX(0);
     }
 }

 @media screen and (max-width: 768px) {
     body {
         header {
             width: 80vw;
             margin: 1rem auto;

             nav {
                 a {
                     font-size: 1rem;
                 }
             }
         }

         .inicio {

             align-items: center;

             svg {
                 margin-bottom: 5rem;
             }

             .info-inicio {
                 flex-direction: column-reverse;
                 justify-content: center;
                 align-items: center;
                 gap: 5rem;


                 .texto {

                     justify-content: center;
                     align-items: center;
                     text-align: justify;
                     gap: 1rem;

                     h2 {
                         font-size: var(--title-celu)
                     }
                 }

                 .botones {
                     margin-top: 5rem;

                     width: 90vw;
                     align-items: center;
                     justify-content: center;
                     flex-wrap: wrap;



                     .btn-pedir {
                         justify-content: space-between;
                         align-items: baseline;
                         width: 100%;
                         height: 10vh;
                         padding-top: 1.5rem;

                         svg {
                             width: 15vh;
                         }
                     }

                 }

                 img {
                     margin: 5rem auto;
                     text-align: center;
                     width: 80vw;
                     height: 40vh;
                 }
             }


         }

         .sorteo {
             width: 100vw;
             margin-top: 23rem;

             h2 {
                 font-size: var(--title-celu);
             }
         }

         .ganadores {
             h2 {
                 font-size: var(--title-celu);
             }

             table {
                 width: 90vw;

                 td {
                     font-size: 1.5rem;
                 }
             }
         }

         .premios {
             h2 {
                 font-size: var(--title-celu);
             }

             .premios-list {
                 width: 80vw;
                 margin: 2rem auto;

                 .premios-card {
                     min-width: 80vw;
                     text-align: center;
                 }
             }
         }

         .contacto {
             h2 {
                 font-size: var(--title-celu);
             }

             table {
                 width: 90vw;
                 margin: auto;

                 td {
                     font-size: 1.5rem;
                 }
             }
         }
     }

 }